*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav{
    padding: 1rem;
    width: 100vw;
    background-color: orange;
    margin-bottom: 2rem;
}
.nav-list{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.list-item{
    list-style: none;
    padding: 0.8rem;
}
.nav-list a{
    color: white;
    text-decoration: none;
}
.active{
    border-bottom: 2px solid white;
    font-weight: bolder;
}

.button{
    padding: 0.5rem;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
}
.card{
    box-shadow: 2px 2px 5px orange;
    border-radius: 5px;
    padding: 2rem;
}
.card h1{
    margin-bottom: 1rem;
    color: orange;
}

.container input{
    width: 20rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid orange;
}
input:focus{
    outline: none;
    border: 2px solid orange;
}
#output{
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}
.each-question{
    margin-bottom: 1.5rem;
}
.question1, .question2{
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.answer1, .answer2{
    margin-left: 1rem;
}
.answer{
    display: flex;
}
.card h2{
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
.area-p{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .container input{
        width: 15rem;
        margin: 5px;
    }
    .answer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .quiz-card{
        width: 20rem;
    }
}